# Node modules
node_modules

# Byte-compiled / optimized / DLL files
__pycache__/

# PyBuilder
target/

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# End of https://www.gitignore.io/api/python


*.class
*.swp
Libs/TempTestCase*
Libs/TempTestSuite*
bin/lib/TempTestCase*
Reports/
\.classpath
\.project
\.settings/
bin/lib/
Libs/

# Python Configuration Files
*config.py

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

*.swp
*.bak
*.egg
*.egg-info
*.eggs
*.pyc
*.pyd
*.pyo
*.so
*~
.DS_Store
.Python
.cache
.coverage
.coverage.*
.direnv
.envrc
.idea
.installed.cfg
.noseids
.tox
.vimrc
bin
build
htmlcov
develop-eggs
dist
docs/_build/
eggs
include/
lib/
man/
nosetests.xml
parts
pyvenv
sources
var/*
venv
virtualenv.py
.install-cython
.install-deps
.develop
.gitconfig
.flake
.python-version
.pytest_cache
.vscode
.mypy_cache
pip-wheel-metadata
.test-results
coverage.xml

.serverless

venv/
venv
/venv

*.log*

*.zip
*.rar
*.xlsx
*.xls
*.txt
*.csv
*.7z
*.xml
!requirements.txt

# ignore all "env" folders and all ".env" files
**/env
**/.env